@keyframes snackbar {
	0%{opacity:0;right:-300px}
	100%{opacity:1;right:12px}
}

@keyframes settings {
	0%{opacity:0;right:0px}
	100%{opacity:1;right:12px}
}

@keyframes settingsd {
	0%{opacity:0;left:100px}
	100%{opacity:1;left:50px}
}

@keyframes fadein {
	0%{opacity:0}
	100%{opacity:1}
}