*:not(#textbox) {user-select: none}
body {
	background-color: var(--background-color);
	color: var(--text-color);

	animation: fadein 0.5s ease-in-out;
}
html, body {max-width: 100vw; max-height: 100vh}
html, button {font-family: lexend}

#noJavascriptContainer {
	z-index: 100;
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;

	background-color: var(--background-foreground-color);

	overflow: hidden !important;
}
.noJavascript {color: red}

.settings:hover {
	opacity: 1;
}
.settings {
	background-color: transparent;

	position: fixed;
	top: 10px;
	/* top 10px was originally unintended but im keeping it lmao */
	right: 10px;

	transition: 0.2s;
	opacity: 0.4;
}

button {
	/* specify your own background */
	color: var(--text-color-pop);
	border: none;
	cursor: pointer;
}
/* regular buttons */
.button {
	padding: 5px 10px;
	border-radius: 1ex;

	background-color: var(--button-background-color);
	color: var(--text-color-pop);
	transition: 0.2s;
	font-size: 1em;
}

.button:hover {
	color: var(--background-color);
	background-color: var(--text-color-pop);
}

.modalClosed {opacity:0}

.modalOpen {opacity:1}

#settingsmenu {
	position: absolute;
	top: 30px;

	background-color: var(--background-menus-color);

	padding: 1.5vh 5vw;
	margin: 10px;
	border-bottom-right-radius: 0px;

	/* z-index: 10; */
	right: 0;
	transition: 0.2s;
}

/* jankiest style sheet rules you'll ever see */
#settingsmenu {
	position: fixed;
	right: 12px;
	bottom: 12px;

	padding: 50px;

	min-width: 250px;
	margin-left: -125px;

	color: var(--text-color-pop);
	visibility: hidden;
}

#settingsmenu.modalOpen {
	animation: settings 0.5s;
	visibility: visible;
}
#settingsmenu.modalClosed {
	animation: settings 0.5s reverse;
	right: 0px;
}
#settingsinner {
	opacity: 0;
	position: absolute;
}
#settingsinner.modalOpen {
	animation: settingsd 0.5s;
	top: 20px;
	left: 50px;
	opacity: 1;
}
#settingsinner.modalClosed {
	animation: settingsd 0.3s reverse;
	right: 25px;
}

#snackbar {
	position: fixed;
	right: 12px;
	bottom: 12px;

	padding: 30px;

	min-width: 250px;
	min-height: 50px;
	margin-left: -125px;

	background-color: var(--background-menus-color);
	color: var(--text-color-pop);
	visibility: hidden;
}

#snackbartitle, #snackbartext {margin: 0px}

#snackbar.visible{
	animation: snackbar 1s, snackbar reverse 1s 3s;
	visibility: visible;
}

#textbox {
	border: 1px solid var(--border-textbox-color);
	padding: 5px;
	font-size: 16px;
	min-height: 93vh;

	cursor: text;
}

#textbox::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 1.3em;
	background: var(--background-color);
	animation: blink-caret 1.5s linear forwards infinite;
	/* FIXME: this thing lags */
}

@keyframes blink-caret {
	/* 0% {opacity:1}
	16.67% {opacity:0}
	33.33% {opacity:1}
	50% {opacity:0}
	66.67% {opacity:1}
	83.33% {opacity:0}
	100% {opacity:1} */
	0% {opacity:0}
    49%{opacity:0}
    50% {opacity:1}
}

.bottom {
	text-align: center;
	color: gray;
	margin: 0;
}

a {
	display: inline-block;
	color: gray;
	transition: color 0.2s ease;
}
a:hover {
	transform: translateY(-10%);
	color: var(--text-color-pop);
}

a .noJavascript {
	color: blue
}

.bottom.small {font-size: 0.8em}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"] {
	display: none;
}

/* the actual checkbox */
input[type="checkbox"] + label {
	position: relative;
	padding-left: 28px;
	padding-right: 15px;
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #2e2e2e;
	border-radius: 3px;
	background-color: #2e2e2e;

	/* animation for the checkbox (see the rule below) */
	transition: background-color 0.2s, border-color 0.2s;
}

input[type="checkbox"]:checked + label:before {
	color: #fff;
	background-color: #3f3f3f;
	border-color: #696969;
}

/* dialog */
dialog {
	width: 800px;
	padding: 30px;
	/* 1c1c1c */
	background-color: #242424;
	border: #fff;
	border-radius: 1ex;
	color: #eee;
	border: transparent;

	/* animation */
	transition: opacity 0.3s, transform 0.3s;
}